<!--
  Copyright 2011 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heneryh.aquanotes"
    android:versionCode="35"
    android:versionName="0.35"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <permission
        android:name="com.heneryh.aquanotes.permission.WRITE_SCHEDULE"
        android:protectionLevel="normal"
        android:label="@string/permission_write"
        android:description="@string/permission_write" />

    <!-- Basic comm -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Determine if WiFi is connected to home SSID -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Store database items -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    
<!--     <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
 -->    
    <!-- From Gallery -->
<!--     <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
 -->    
    <supports-screens android:smallScreens="false"
        android:normalScreens="true" android:largeScreens="true"
        android:anyDensity="true" />

    

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_neptune_launcher"
        android:logo="@drawable/title_neptune_logo"
        android:theme="@style/Theme.AquaNotes"
        android:hardwareAccelerated="true">

        <!-- Activities for both phones and tablets -->

        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/Theme.AquaNotes.Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity
            android:name=".ui.WebStreamActivity"
            android:label="@string/title_tagstream" />

        <activity
            android:name=".ui.controllers.ControllersActivity"
            android:label="@string/title_controllers"  />
        
        <activity
            android:name=".ui.feed.FeedActivity"
            android:label="@string/title_feed"  />
        
        <activity android:name=".ui.livestock.LivestockActivity"
            android:label="@string/title_livestock" 
            android:launchMode="singleTop">
             <intent-filter>
                <action android:name="com.heneryh.aquanotes.action.DIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.livestock.NewLivestockActivity"
            android:label="sss"  />
        
        
        <!-- Holds the ContentFragment for small/normal screens -->
        <activity android:name=".ui.livestock.ContentActivity" />

        <!-- Broadcast Receiver that will process AppWidget updates -->
<!--         <receiver
            android:label="@string/widget_name_2x1"
            android:name=".ui.widget.Widget2x1" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x1" />
        </receiver>
 -->
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:label="@string/widget_name_2x2"
            android:name=".ui.widget.Widget2x2" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x2" />
        </receiver>
        

<!-- android:label="@string/title_controllers" -->


        <!-- Phone-only activities -->

 
 
        <!-- Tablet-only activities -->

        <activity
            android:name="com.heneryh.aquanotes.ui.tablet.NowPlayingMultiPaneActivity"
            android:label="@string/title_now_playing" />

        <!-- Used for install referrer tracking -->
        <receiver
            android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        
        <!-- Other manifest items -->
        <!-- The new preferences screen activity to configure the widgets or preferences -->
        <activity
            android:label="@string/title_configure"
            android:launchMode="singleTop"
            android:name=".configure.ConfigurePrefs"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter >
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/title_configure"
            android:launchMode="singleTop"
            android:name=".configure.WidgetConfigurePrefs"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="com.heneryh.aquanotes.service.SyncService" />
        <service android:name="com.heneryh.aquanotes.service.NightlyService" />
        
        <provider
            android:name=".provider.AquaNotesDbProvider"
            android:authorities="com.heneryh.aquanotes"
            android:writePermission="com.heneryh.aquanotes.permission.WRITE_SCHEDULE" />

        <!-- From Gallery -->
        <activity android:name="com.cooliris.media.Gallery" android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:clearTaskOnLaunch="true" android:noHistory="false"
            android:stateNotNeeded="true">
             <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cooliris.media.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cooliris.media.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cooliris.media.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
             </intent-filter>
        </activity>
        <activity android:name="com.cooliris.media.CropImage"
            android:configChanges="orientation|keyboardHidden" android:label="@string/crop_label">
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.camera.action.CROP" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name="com.cooliris.media.MovieView"
            android:label="@string/movie_view_label"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
             </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
             </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
             </intent-filter>
        </activity>

        <activity android:name="com.cooliris.media.Photographs" android:icon="@drawable/icon">
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--         <provider android:label="Picasa Web Albums" android:name="com.cooliris.picasa.PicasaContentProvider"
            android:grantUriPermissions="true"
            android:syncable="true"
            android:authorities="com.cooliris.picasa.contentprovider">
        </provider> -->
        <service android:label="Picasa Sync Service" android:name="com.cooliris.picasa.PicasaService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

        <service android:label="CacheService" android:name="com.cooliris.cache.CacheService"/>

        <receiver android:label="BootReceiver" android:name="com.cooliris.cache.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.cooliris.media.PhotoAppWidgetProvider" android:label="@string/gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        </receiver>

        <!-- We configure a widget by asking to pick a photo, then crop it, and store the config internally-->
        <activity android:name="com.cooliris.media.PhotoAppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- We also allow direct binding where the caller provides a bitmap and
             appWidgetId to bind.  We require the permission because this changes our
             internal database without user confirmation.
        -->
        <activity android:name="com.cooliris.media.PhotoAppWidgetBind" android:exported="true"
                android:theme="@android:style/Theme.NoDisplay"
                android:permission="android.permission.BIND_APPWIDGET" />

        <receiver android:name="com.cooliris.picasa.PicasaReceiver">
                <intent-filter>
                    <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED_ACTION"/>
                </intent-filter>
        </receiver>
        
    </application>
</manifest>
